/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;

}


/******************************************
/* LAYOUT
/*******************************************/


header{
  height:50px;
  background-color:rgb(104 118 136);
} 


nav li{
  float:left;
  color:white;
  padding-right:2%;
}

nav li a{
  color:white;
  text-decoration:none;
}

header img{
  width:2%;
  float:left;
  margin-left:35%;
  margin-top: 11.5px;
}

header button{
  color:rgb (104 118 136);
  background-color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 40%;
  margin-top:1%;
}

#main{
  margin:0;
  width:100%;
  height:320px;
  background-color: rgb(104 118 136);
}

#main h1{
  color:white;
  font-weight: 400;
  font-size:3rem;
  text-align: center;
  padding-top:5%;
  margin:0;
}

#main p{
  color:white;
  font-size: 1rem;
  text-align: center;
  padding-left:10%;
  padding-right:10%;
  margin-bottom: 0;
 
}

#main section{
  width: 100%;
}
#main img{
  margin-left:45%;
  margin-top: 2%;
  float:left;
}

#main section span a{
  width: 50%;
  color:lightgrey;
  font-weight: 200;
  font-size: 1rem;
  text-decoration: none;
  float:left;
  padding-top: 2.6%;


}

#main .hide{
  width: 100%;
  color:black;
  font-size: .5rem;
  text-align: center;
  padding-top: 2%;
  float:left;


}

#why{
  width: 100%;
}

#why h2{
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding-top:10%;
}

#why p{
  font-size: 1rem;
  text-align: center;
  padding-bottom: 10%;
  padding-left:10%;
  padding-right:10%;
}

.thirdsection {
  background-color: rgb(217 221 223);
  width: 50%;
  float:left;
}

.thirdsection img{
  width:60%;
  margin:20%;
  margin-bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.thirdsection h3{
  font-weight: 400;
  text-align: center;
}

.thirdsection p{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.thirdsection button{
  font-size: .5rem;
  background-color: rgb(217 221 223);
  border: 1px solid rgb(104 118 136);
  text-align:center;
  margin-left: 40%;
  margin-right: 40%;
  padding: 2% 6%;
  margin-bottom: 20%;
}

#volunteer{
  width: 100%;
}

#volunteer h3{
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding-top:10%;
  margin-top:50%;

}

#volunteer p{
  font-size: 1rem;
  text-align: center;
  padding-left:10%;
  padding-right:10%;
  margin-bottom: 0;
}

#volunteer button{
  background-color: white;
  border: 1px solid rgb(104 118 136);
  text-align:center;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 20%;
  margin-top:5%;
  padding: 2% 8%;
}

footer{
  background-color: rgb(24 31 41);
  width:100%;

}
footer > section{
  float:left;
  width:50%;
}

footer ul{
  margin-left: 3%;
}
ul li{
  display: inline-block;
  margin-top: 1%;
  color:white;
}

footer span{
  color:grey;
  margin: 8%;
}

footer span a{
  color:white;
  text-decoration: none;
}

address{
  width: 25%;
  float:right;
  color:white;
}

address h2{
  font-size: 1rem;
}

#taxexempt{
  width: 90%;
  color:white;
  border-top:2px solid white;
  margin-left: 4%;
  margin-right: 4%;
}

#taxexempt img{
  width:2%;
  align-items: right;
  float:right;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width:600px){
  header button{
    display: none;
  }

  header img{
    width: 5%;
  }
  
  #main{
    height: 100px;
  }
  #main h1{
    font-size: 1rem;
  }

  #main p{
    font-size: .5rem;
    margin-bottom: 20%;
  }

  #main section{
    display: none;
  }

  #main span{
    display: none;
  }

  #volunteer h3{
    font-size: 2rem;

  }

  #volunteer p{
    font-size: 1rem;
  }
  address{
    display: none;
  }
  
 
 }
 
 
 
 
 /*tablet*/
 
 @media (min-width:601px) and (max-width: 1024px){
 
  header button{
    display: none;
  }
  
  #main{
    width: 100%;
  }
  #why{
    width: 100%;
  }
  
  .thirdsection{
    width: 100%;

  }

  .thirdsection p{
    margin:0;

  }

  #volunteer{
    width: 100%;
  }
 
  #volunteer h3{
    padding-top: 10%;
  }
  
 }
 
 
 /*bigger screens*/
 @media (min-width:1536px) and (max-width: 2560px){
 
  .thirdsection{
    width: 100%;

  }

  .thirdsection p{
    margin:0;
    font-size: 1.5rem;

  }

  #thirdsection button{
    font-size: 1rem;
  }
 
 }
 

